.button {
    background-color: $purple-200;
    color: white;
    cursor: pointer;
    font-weight: 400;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    box-shadow: $x1 $y1 $blur1 $shadow-color1, $x2 $y2 $blur2 $shadow-color2;
    border-radius: $base-border-radius;
    font-weight: $heavy-weight;
    letter-spacing: 0.05em;
    transition: all 0.4s ease;
    &:hover {
      background-color: $purple-100;
    }
  }